@import "./src/styles";
 .addProject{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0rem;
    cursor: pointer;
    color:  white;;
   background: $primaryColor;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo {
  background-image: url("~assets/Hamster-Logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 85px;
}
