<div class="page-container" *ngIf="project" style="padding: 1rem;max-height: 600px; overflow: auto;">
  <div style="display: flex; justify-content: space-between; align-items: center" >
    <nz-page-header [nzTitle]="project.projectName" [nzSubtitle]="project.version"></nz-page-header>
    <div style="display: flex">
      <button   nzType="primary" nz-button style="margin-right: 10px;" (click)="syncProject()">Refresh</button>
      <button  [nzType]="'danger'" nz-button  (click)="removeProject()">Remove</button>
    </div>

  </div>

  <nz-tabset>
    <nz-tab [nzTitle]="'Commands'">
     <app-project-scripts [scripts]="project.scripts" (run)="this.runScript($event)"></app-project-scripts>
    </nz-tab>
    <nz-tab [nzTitle]="'README'">
      <app-project-readme [readMe]="project.readMe"></app-project-readme>
    </nz-tab>
    <nz-tab [nzTitle]="'Dependencies'">
      <app-project-requirements  [appRequirements]="project.appRequirements"></app-project-requirements>
    </nz-tab>

    <nz-tab [nzTitle]="'Git'">
      <app-project-git [gitCommits]="project.gitCommits"></app-project-git>
    </nz-tab>
    <nz-tab [nzTitle]="'Grouped Commands'">
      <div style="text-align: right">
        <button  nz-button  (click)=" tagMode = tagMode === 'default' ? 'closeable' : 'default' " *ngIf="commandGroups && commandGroups.length" style="margin-right: 5px"> Edit</button>
        <button   nzType="primary" nz-button  (click)="addNewCommandGroup()">Add Command Group</button>
      </div>

      <div *ngIf="commandGroups && commandGroups.length">
        <nz-tag *ngFor="let script of commandGroups; let i = index" [nzMode]="tagMode" (nzAfterClose)="tagMode === 'closeable'  ? removeGroupScript(script.id, i): null" (click)="tagMode !== 'closeable' ? runGroupScript(script.scripts) : null">
            {{script.name}}
        </nz-tag>

      </div>



    </nz-tab>

  </nz-tabset>






</div>
