<div *ngIf="project" style="padding: 1rem">
  <div style="display: flex; justify-content: space-between; align-items: center" >
    <nz-page-header [nzTitle]="project.projectName" [nzSubtitle]="project.version"></nz-page-header>
    <div style="display: flex">
      <button [nzType]="'danger'" nz-button style="margin-right: 10px;" (click)="syncProject()">Refresh</button>
      <button nz-button  nzType="primary" nzDanger (click)="removeProject()">Remove</button>
    </div>

  </div>



  <nz-divider [nzText]="'Scripts'"></nz-divider>
  <nz-steps [nzCurrent]="project.scripts.length" nzProgressDot  nzDirection="vertical">
      <nz-step *ngFor="let script of project.scripts" [nzTitle]="script.keyword" [nzDescription]="script.cmd" (click)="runScript(script)" style="cursor: pointer"></nz-step>
  </nz-steps>

</div>
