<div style="padding: 1rem;max-height: 600px; overflow: auto;">
  <nz-page-header class="site-page-header"  nzTitle="Settings" nzSubtitle="Make this app more for you" >
  </nz-page-header>

  <div nz-row [nzGutter]="16">
    <div nz-col class="gutter-row" [nzSpan]="12">
      <nz-select [nzPlaceHolder]="'Select CLI'">
        <nz-option nzValue="terminal" nzLabel="Terminal"></nz-option>
        <nz-option nzValue="Item2" nzLabel="Iterm2"></nz-option>
      </nz-select>
    </div>

  </div>

</div>

