/* You can add global styles to this file, and also import other style files */

@import "~ng-zorro-antd/ng-zorro-antd.dark.min.css";
$primaryColor: #E85441;
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* CAN (MUST) BE REMOVED ! Sample Global style */
.container {

}

.ant-btn-primary{
  background: $primaryColor !important;
}
.ant-btn-primary {
  border-color:$primaryColor !important;
}
.ant-menu-item {
  opacity: 0.7 !important;

  &.ant-menu-item-selected {
    opacity: 1 !important;
    color:white !important;
    background-color: $primaryColor !important;
  }
}
.ant-steps-item-icon{
  background-color: $primaryColor !important;
}
.ant-steps-icon-dot {
  background:  $primaryColor !important;
}
.ant-steps-item-tail::after {
  background: white !important;
}
